nav {
  width: 100%;
  padding: 4px 40px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

nav ul a {
  display: inline-block;
  position: relative;
  margin: 5px 30px;
}

nav ul a:after {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 3px;
  left: 0;
  bottom: -10px;
  width: 0;
  transition: all 0.5s ease-out;
}

nav ul a:hover::after {
  width: 100%;
}
.moble-nav-bar {
  display: flex;
}

.nav-home {
  display: flex;
  justify-content: space-between;
}

.mobile-btn-hidden {
  margin-left: 320px;
}

.logo {
  width: 150px;
}

.btn {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 100%,
    rgba(235, 159, 85, 1) 100%,
    rgba(235, 159, 85, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.menu-icon {
  display: none;
}

@media (max-width: 37.5em) {
  .logo {
    width: 75px;
  }
  nav {
    padding: 4px 0px;
  }

  .moble-nav-bar {
    display: block;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    /* background: #b82727; */
    background: hsl(0 0% 0%/0.8);
    backdrop-filter: blur(16px);
    opacity: 1;
    width: 250px;
    padding: 3.5rem 2.5rem;
    transition: 0.5s ease;
  }

  @supports (backdrop-filter: blur(16px)) {
    .moble-nav-bar {
      background: hsl(0 0% 100%/0.1);
      backdrop-filter: blur(16px);
    }
  }

  .nav-home {
    display: flex;
    flex-direction: column;
  }

  nav ul a {
    display: inline-block;
    margin: 1.5rem 0px;
  }

  .btn {
    display: inline-block;
    padding: 5px 15px;
  }

  .mobile-btn-hidden {
    margin-left: 0px;
    text-decoration: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 36px;
    top: 26px;
    cursor: pointer;
  }

  .hide-mobile-menu {
    right: 0;
  }
}
